@font-face {
  font-family: generalFont;
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  // src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

$hover-color: rgb(255, 196, 0);
